<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <title>Blogs</title>
  </head>
  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <a href="/" class="navbar-item"
          ><strong>The best blogs in Gatenga</strong></a
        >
      </div>
    </nav>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>
  </body>
</html>
